@charset "UTF-8";

body{
    background-color: #0f0e11;
    margin: 0
}

a{
    text-decoration: none;
    color: #71717A;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 600;
}

p{
    margin: 0
}

h1{
    margin: 0;
}

option::after{
    font-size: 500px;
}

::placeholder{
    font-size: 14px;
    color: #71717A;
    font-family: "Mulish";
    font-weight: 600;
}

.modalWidth{
    width: 100%;
    height: 100%;
    justify-content: center;
    position: absolute; 
    align-items: center;
    display: none;
}

.backgroundModal{
    position: absolute;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.027);
}


.transactionModal{
    position: absolute;
    background-color: #141414;
    padding: 20px;
    flex-direction: column;
    width: 20%;
    display: flex;
    border-radius: 16px;
    gap:20px;
}

.addTransactionText{
    color: white;
    font-size:20px ;
    font-family: "Mulish";
    font-weight: 700;
}

.modalTittle{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputsDiv{
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: start;
}

.inputs{
    display: flex;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.08);   
    padding: 8px 16px;
    align-self: stretch;
    background: #141414;
    color: white;
    font-size:14px;
    font-family: "Mulish";
    font-weight: 600;
}

.inputs option{
    font-size:14px;
    font-family: "Mulish";
    font-weight: 600;
}

.modalButtons{
    display: flex;
    gap: 12px;
    justify-content: center;
}

.modalButton{
    padding: 8px 16px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 700;
    color: white;
}

.iconstyles{
    border-radius: 8.533px;
    padding: 10px;
}

div#navbar{
    display: flex;
    padding: 16px 32px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

div#barinterior{
    display: flex;
    align-items: center;
    gap: 48px;
    
}


div#user{
    margin-left: auto;
    align-items: center;
}

div#userinterior{
    font-family: "Mulish", sans-serif;
    font-size: 14px;
    align-items: center;
    color:white;
    display: flex;
    padding: 8px 16px;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    font-weight: 600;
}

.pagetitle{
    color:white;
    font-family: "Mulish", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 31px;
    margin-top: 23px;
    padding: 0px 50px 0px
}

.header{
    display: flex;
    align-items: center;
}

.rightSideHeader{
    margin-left: auto;
    padding: 0px 50px;
}

.chooseMonths{
    background-color: #0f0e11;
    display: flex;
    padding: 8px 16px;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    color: white;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.pagecontent{
    padding: 0px 50px 24px 50px;
    display: flex;
    gap: 41px;
}

.leftSidePage{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 24px;
}

.moneybalance{
    background:#161716;
    padding: 32px 24px;
    display: flex;
    border-radius: 28px;
    border: 1px solid rgba(255, 255, 255, 0.08);
}
.leftside{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.walletname{
    color: white;
    gap: 8px;
    display: flex;
    align-items: center;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 600;
}

.accountbalance{
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
    font-size: 36px;
    font-family: "Mulish";
    font-weight: 700;
}

.addtransaction{
    margin-left: auto;
    align-content: end;
}

.transactionbutton{
    background: #55B02E;
    border-radius: 100px;
    border: none;
    padding: 8px 16px;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.transactionbutton:hover{
    background: #55b02ebd;
}

.investments{
    background: rgba(255, 255, 255, 0.03);
    padding: 24px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

.inflowoutflow{
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    gap: 12px;
    flex: 1;
}

.financialicons{
    color: #71717A;
    gap: 8px;
    display: flex;
    align-items: center;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.financialvalue{
    color: white;
    font-size: 24px;
    font-family: "Mulish";
    font-weight: 700;
}

.transactionsDisplay{
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    padding: 24px;
    gap: 24px;
    display: flex;
    flex-direction:column;
    width: 35%;
}

.transactionsName{
    color: white;
    font-size: 18px;
    font-family: "Mulish";
    font-weight: 700;
    align-content: center;
}

.showAll{
    margin-left: auto;
}

.showAllInterior{
    color: white;
    padding: 8px 16px;
    border-radius: 100px;
    border:1px solid rgba(255, 255, 255, 0.08);
    background: #0f0e11;
    font-family: "Mulish";
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}

.transactionsInterior{
    display: flex;
}

.hrDisplay{
    border-bottom:1px solid rgba(255, 255, 255, 0.08);
    gap:24px;
}

.moneyMovement{
    gap: 12px;
    display: flex;
}

.itemTittle{
    color: #ffffff;
    align-items: center;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 700;
}

.itemDate{
    color: #71717A;
    align-items: center;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 600;
}

.earnedMoney{
    margin-left: auto;
    align-content: center;
    color: #55B02E;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 700;
}

.investedMoney{
    margin-left: auto;
    align-content: center;
    color: #ffffff;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 700;
}

.spentMoney{
    margin-left: auto;
    align-content: center;
    color: #E93030;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 700;
}