.itemsDisplay{
    gap: 24px;
    display: flex;
    flex-direction: column;
}
.moneyMovement{
    gap: 12px;
    display: flex;
}

.itemTittle{
    color: #ffffff;
    align-items: center;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 700;
}

.itemDate{
    color: #71717A;
    align-items: center;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 600;
}